@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    --golden-yellow : rgb(251, 198, 5);
}

body{
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr/ 1fr 5fr;
}

img{
    height:30px;
}

.header{
    grid-column: 2/-1;
    padding: 20px 50px;
    box-shadow: 10px 5px 5px rgb(10, 10, 10);
    display: grid;
    gap: 20px;
}

.search-bar{
    display: grid;
    grid-template-columns: 0.1fr 5fr 0.1fr 0.1fr 1fr;
    gap:20px;
    align-items: center;
}

.search-bar>span{
    font-size: 17px;
    font-weight: 600;
    grid-column: 5/-1;
}

.nav{
    display: grid;
    grid-template-columns: 0.1fr 3fr repeat(3, 0.5fr);
    gap: 20px;
    align-items: center;
}

.cat-img{
    height:70px;
    width: 70px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius:50px;
    background-color: var(--golden-yellow);
}

.cat-img > img{
    height:50px;
}

.cat{
    background-color: var(--golden-yellow);
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
}

input{
    max-width: 700px;
    background-color: #dbeafe;
    border:none;
    border-radius: 20px;
    height: 40px;
    margin-right:5%;
}

button{
    padding: 10px 15px;
    background-color: #3b82f6;
    border-radius: 30px;
    font-size: 15px;
    color:white;
    font-weight:600;
    border:none;
}

.user-greeting{
    font-weight: 600;
}

.user-greeting div+div{
    margin-top: 5px;
    font-size: 20px;
}

.sidebar{
    padding: 20px;
    grid-row:1/-1;
    background-color: #3b82f6;
    display: flex;
    flex-direction: column;
    gap:50px;
}

.side{
    display: grid;
    gap:15px;
}

.sidebar-content, .dashboard{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    color:white;
    font-weight: 600;
}

.dashboard img{
    height: 40px;
}

.dashboard{
    font-size: 20px;
}

.main{
    padding: 30px 20px;
    background-color: #dbeafe;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
}

.title{
    font-size: 18px;
    font-weight: 600;
}

.project-section{
    display: grid;
    grid-template: 0.1fr 2fr/1fr;
    gap:10px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
    overflow: auto;
}

.card{
    background-color: white;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 3px 2px 2px rgba(10,10,10,0.1);
    display: grid;
    grid-template-columns: 0.1fr 1fr;
}
 
.border{
    max-height: 100%;
    width: 8px;
    background-color: var(--golden-yellow);
    border-radius:10px 0px 0px 10px;
}

.card-text{
    flex:1;
    padding: 10px;
    display: grid;
    align-items: center;
}

.card-icons{
    justify-self:right;
    display: flex;
    gap:10px;
}

.card-icons img{
    height: 20px;
}

.heading-text{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.sub-text{
    font-size: 14px;
    color: gray;
}
